NODE_ENV=development
NUXT_SESSION_PASSWORD=4b107880e8c74130a51facbc741ce2ee

VITE_BASE_URL=http://localhost:3000
API_BASE_URL=https://api-dev.simpliers.com
CLOUD_URL=https://cloud.simpliers.com
CREATE_URL=https://create.simpliers.com
SIMPLIERS_URL=https://simpliers.com
FORMS_URL=https://forms.simpliers.com
HUB_URL=https://hub.simpliers.com
SHORTEN_URL=smpl.rs/

NUXT_HOST=0.0.0.0
NUXT_PORT=3000
AUTH_BASE_URL=https://auth-dev.simpliers.com
AUTH_TOKEN_COOKIE_KEY=simpliers-auth-token

SOCKET_HOST=api-dev.simpliers.com
SOCKET_PORT=2083
REVERB_APP_KEY=o81F7IWgeV39AlDedTlEGebgl0JL1W6X
VUE_APP_PUSHER_APP_KEY=o81F7IWgeV39AlDedTlEGebgl0JL1W6X
VUE_APP_PUSHER_APP_CLUSTER=mt1

GOOGLE_CLIENT_ID=969571600565-75uubn9sefeu94k50kav4ees1psnpe0k.apps.googleusercontent.com
GOOGLE_ANALYTICS_ID=G-5C3SZQZEYH
CLARITY_ID=ubuvc46gi2

VITE_FIREBASE_API_KEY=AIzaSyDcYxJDpSesuP0veYt2DiXNPGoLk609U0M
VITE_FIREBASE_AUTH_DOMAIN=p-okul.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=p-okul
VITE_FIREBASE_DATABASE_URL=https://p-okul-default-rtdb.europe-west1.firebasedatabase.app/